.tasklistbtn {
    border: 1px solid #e6e9eb;
    padding: 6px 12px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.overviewheader {
    background: #fff;
    border: 1px solid #dce1ef;
    border-radius: 4px;
    padding: 20px;
    position: relative;
}